<!DOCTYPE html>
<html>
<head>
<link href="CSS/estilos.css" media="all" rel="stylesheet" type="text/css" />
<meta charset="ISO-8859-1">
 
<title>ShareNotes</title>	

	<script src="js/libs/angular.min.js"></script>
	<script src="js/libs/angular-route-min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/postCtrl.js"></script>
</head>
<body>

<header>
    <h1 class="title">ShareNotes</h1>
    <img class="aligncenter" src="./Imagenes/shareNotes.jpg" alt="ShareNotes" />
<div>
  <nav>
    <ul class="menu">
    <li><a href="index.html">Home</a></li>
    <li><a href="#">Categorias</a></li>
    <li><a href="#">Buscar Post</a></li>
    <li><a href="#">Cuenta</a>
  	  <ul class="sub-menu">    
   	  <li><a href="registro.html">Registrarse</a></li>
	  <li><a href="index.html">Iniciar Sesion</a></li>	   	  		   
  	  </ul>
	</li>
    </ul>
   </nav>
  </div>   
</header>
 <center>
<h3>Nuevo Post</h3>
<br><br>
<div ng-app="shareNotes" ng-controller="editarPostCtrl">
<table>
<tr><td>Titulo:</td><td><input type="text" name="tituloPost" ng-model="post.titulo" value={{post.titulo}}></td></tr>
<tr><td>Categoria:</td><td><select name="categoriaPost" ng-model="post.categoria" >   
<option  ng-repeat="c in categorias" value="{{c.idCategoria}}">{{c.nombreCategoria}}</option> 
</select></td></tr>
<tr><td>Descripcion:</td><td>
<textarea rows="20" cols="50" name="descripcionPost" ng-model="post.descripcion">
{{post.descripcion}}
</textarea></td></tr>
</table>
<button ng-click="actualizarPost(post.idPost, post.titulo, post.categoria, post.descripcion)" name="botonNuevoPost">Guardar Post</button>
</div>
</center>
<footer class="center">
Proyecto de Aplicaciones WEB
<br>GR2 - 2015B
</footer>	 
 

</body>
</html>

</body>
</html>